@media (min-width: 768px) {
    .start_page{
        position: relative;
    }
    .logo_start{
        position: absolute;
        top: 20px;
    }
    .bestseller{
        grid-template-columns: 1fr 2fr;
        /* text-align: left; */
        /* position: relative; */
    }

    .bestseller_p{
        margin: 0;
    }
    .text_form_block p:nth-of-type(1){
        display: block;
    }
    .form_section{
        flex-direction: row;
        position: relative;
    }
}
@media (min-width: 1366px) {
    .cosmetics_start{
        width: 100%;
    }
}