*{
  box-sizing: border-box;
}

body{
  background-color: var(--background_colour);
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  /*padding-left: 16px;
  padding-right: 16px;*/
}
.container{
  overflow: hidden;
  padding: 0 5%;
}

a{
  text-decoration: none;
  color: var(--accent_colour);
}

.a_frame{
  padding: 12px 30px;
  margin: 0 10%;
  border: solid 1px var(--border_link);
  border-radius: 2px;
  box-shadow: 0 0 5px 2px rgb(180, 176, 176);
}  

button{
  border: 0;
  background-color: transparent;
}

.navigation{
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.start_page{
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_start{
  margin: 0 38px 35px 39px;
  width: 243px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.cosmetics_start{
  display: flex;
  justify-content: space-between;
  width: 90%;
  column-gap: 20px;
}
/*Возможно сделать коллону для косм1 и косм2*/
.cosmetics_link{
  display: flex;
  justify-content: space-between;
}

.bestseller{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  margin-bottom: 85px;
}

.bestseller_p{
  margin: 20px 50px;
}

.slider{
  margin: 50px 40px;
  grid-row: span 2;
}

.form_section{
  margin-bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.img_wrapper{
  display: flex;
  justify-content: center;
}
.form_block{
  margin: 0 7px;
  /*padding: 60px 15px 200px;*/
  padding-top: 60px;
  padding-bottom: 110px;
  text-align: center;
  background-color: var(--block_colour);
}

.img_form{
  margin-top: -40px;
  object-fit: cover;
  z-index: 1;
  max-width: 80%;
}

.text_form_block{
  margin:0 30px ;
  
}
.text_form_block p:nth-of-type(1){
  display: none;
}

.form_btn{
  border: solid var(--border_link) 1px;
  border-radius: 3px;
  padding: 13px 28px;
  box-shadow: 0 0 5px rgb(180, 176, 176);
}


.history{
  margin-bottom: 50px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/history.jpg);
  background-size: cover;
  background-position: center;
  gap: 20px;
}

.history_text{
  text-align: center;
  margin: 0 36px;
  width: 70%;
}

.follow{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.text_follow{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.img_follow{
  margin:50px 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img_follow img {
  max-width: 100%;
  height: auto;
  }

.contacts{
margin-bottom: 80px;
}

.main_contacts{
  padding: 30px 30px;
  background-color: var(--block_colour);
  text-align: left;
  
}
.main_contacts p, .main_contacts h2, .text_form_block p, .text_form_block h2{
  margin-bottom: 10px;
}
.icons{
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.img_map{
  margin: auto;
}

footer{
  background-color: var(--block_colour);
  margin: 0;
}

footer button{
  padding: 0;
}
.footer_links{  
  padding: 30px 130px 30px 15px;
  text-align: left;
  gap: 20px;
}

hr{
margin: 0;
}

.footer_menu{
  display: flex;
  justify-content: space-between;
}

.menu_column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_polit{
  padding: 20px 82px 15px 15px;
  text-align: left;
  border-top: 1px solid rgb(209, 209, 209);
}
.grid__main{
  background-color: var(--background_colour);
}
.grid_charts{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "sidebar charts";
} 
.charts{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-area: charts;
}
.chart{
  width: 100%;
}
.large_block{
  grid-column: 1/-1;
}
.medium_block{
  grid-column: span 3;
}
.small_block{
  grid-column: span 2;
}
.sidebar{
  grid-area: sidebar;
  display: grid;
  align-items: center;
}
.sidebar a{
  color: var(--accent_colour);
}
.footer{
  padding: 0;
}

.grid__main{
  display: grid;
  padding-left: 16px;
  padding-right: 16px;
}
.gallery{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.gallery h2{
  font-size: 40px;
  color: var(--accent_colour);
}
.gallery__grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}
.item{
  display: grid;
  grid-column: span 1;
  max-width: 100%;
  background: var(--accent_colour);
  transition: opacity 0.3s ease;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
}
.item img{
  grid-column: -1/1;
  grid-row-start: 1;
}
.item a{
  grid-column: -1/1;
  grid-row-start: 1;
}
.chart svg{
  width: 100%;
}
.wrapper_grid {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

}
.item a {
  text-decoration: none;
  background-color: var(--border_link);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.registration-form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.registration-form legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.registration-form label {
  display: block;
  margin-bottom: 8px;
}

.registration-form input,
.registration-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd; /* Цвет границы полей */
  border-radius: 4px;
}

.registration-form select {
  appearance: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  padding: 12px 20px;
  background-color: var(--accent_colour);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-buttons button span.icon {
  margin-right: 5px;
}
