body{
  background-color: var(--background_colour);
}

.header{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

a{
  text-decoration: none;
  color: var(--accent_colour);
}

.a_frame{
  padding: 12px 30px;
  border: solid 1px var(--border_link);
  border-radius: 2px;
  box-shadow: 0 0 5px 2px rgb(180, 176, 176);
}  

button{
  border: 0;
  background-color: transparent;
}

.navigation{
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.start_page{
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_start{
  margin: 0 38px 35px 39px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column  ;
}

.cosmetics_start{
  display: flex;
  justify-content: space-between;
}
/*Возможно сделать коллону для косм1 и косм2*/
.cosmetics_link{
  display: flex;
  justify-content: space-between;
}

.bestseller{
 text-align: center;
 margin-bottom: 85px;
}

.bestseller_p{
  margin: 20px 50px;
}

.slider{
  margin: 50px 40px;
}

.form_section{
  margin-bottom: 180px;
  position: relative;
  padding-bottom: 100px;
}

.form_block{
  position: relative;
  margin: 0 7px;
  /*padding: 60px 15px 200px;*/
  padding-top: 60px;
  padding-bottom: 110px;
  text-align: center;
  background-color: var(--block_colour);
}

.img_form{
  position: absolute;
  top: 420px;
  left: 27px;
  object-fit: cover;
  z-index: 1;
}

.text_form_block{
  margin:0 30px ;
}

.form_btn{
  border: solid var(--border_link) 1px;
  border-radius: 3px;
  padding: 13px 28px;
  box-shadow: 0 0 5px rgb(180, 176, 176);
}


.history{
  width: 320px;
  height: 346px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/history.jpg);
}

.history_text{
  text-align: center;
  margin: 0 36px;

}

.follow{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.text_follow{
  text-align: center;
}

.img_follow{
  margin:50px 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contacts{
margin-bottom: 80px;
}

.main_contacts{
  margin-left: 7px;
  margin-right: 7px;
  padding: 50px 30px;
  background-color: var(--block_colour);
  text-align: left;
}

.icons{
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.img_map{
  margin: auto;
  margin-left: 5px;
}

footer{
  background-color: var(--block_colour);
}

footer button{
  padding: 0;
}
.footer_links{  
  padding: 30px 130px 30px 15px;
  text-align: left;
}

hr{
margin: 0;
}

.footer_menu{
  display: flex;
  justify-content: space-between;
}

.menu_column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_polit{
  padding: 20px 82px 15px 15px;
  text-align: left;
}
.grid__main{
  background-color: white;
}
.grid_charts{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "sidebar charts";
} 
.charts{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-area: charts;
}
.chart{
  width: 100%;
}
.large_block{
  grid-column: 1/-1;
}
.medium_block{
  grid-column: span 3;
}
.small_block{
  grid-column: span 2;
}
.sidebar{
  grid-area: sidebar;
  display: grid;
  align-items: center;
}
.sidebar a{
  color: black;
}
.footer{
  padding: 0;
}

.grid__main{
  display: grid;
}
.gallery{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.gallery h2{
  font-size: 40px;
  color: black;
}
.gallery__grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}
.item{
  display: grid;
  grid-column: span 1;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  border-radius: 8px;
  justify-items: center;
  align-items: center;
}
.item img{
  grid-column: -1/1;
  grid-row-start: 1;
}
.item a{
  grid-column: -1/1;
  grid-row-start: 1;
}
.chart svg{
  width: 100%;
}
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.item a {
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}