:root{
    --accent_colour: #122947;
    --background_colour:#F8F8F6;
    --slider_colour: #9A9DA0;
    --footer_colour:#F4F1ED;
    --footer_colour_text:#959595;
    --section_form_background_colour:#F4F1ED;
}